.title {
  font-size: 22px;
  letter-spacing: -0.8px;
  text-align: center;
  cursor: default;
  font-weight: 600;
}

.sButton {
  border-radius: 6px;
  background-color: #0667D0;
  background: linear-gradient(#0667D0, #0655AB);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  font-size: 14px;
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 6px;
  border-width: 1px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133))
}

.sButton:hover{
  background: #0655AB;
}

.sButton:active {
  background: rgb(255, 255, 255);
}

.loginContainer {
  position: absolute;
  top: 20px;
  right: 35px;
  z-index: 2;
}

.avatar {
  border-radius: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  z-index: 20;
}

.logoutButton {
  color: antiquewhite;
  margin-bottom: 4px;
  margin-left: 15px;
  cursor: pointer;
}

.linkText {
  color: rgb(0, 173, 239) !important;
  font-size: 15px;
  cursor: pointer;
  max-height: 130px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 22px;
}

.linkText:hover {
  color: rgb(0, 136, 204) !important;
  text-decoration: underline;
}