.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoText {
    color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* padding-bottom: 24px; */
    padding-top: 24px;
}

.airdropsSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.airdropContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 15px;
    border-radius: 3px;
    border: solid 1px rgb(255, 255, 255, 0.2);
}

.airdropTitle {
    font-size: 21px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px;
    margin-bottom: 15px;
    cursor: default;
}

.airdropSelectHolder {
    margin-bottom: 15px;
    width: 200px;
}

.airdropSelectHolder .MuiSelect-select {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* .airdropContainer .MuiInputBase-inputMultiline::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}

.MuiInputBase-inputMultiline::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 5px;
}

.MuiInputBase-inputMultiline::-webkit-scrollbar-thumb:hover {
    background: #ffffff80;
} */

.sections {
    display: flex;
    width: 100%;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 475px;
    margin: 10px;
    padding: 15px;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.label {
    display: flex;
    align-items: center;
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.5);
    margin-left: 8px;
    width: 100%;
    cursor: default;
}

.dropNumbersLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

.balanceLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 100;
    color: rgb(53, 100, 161);
    width: 100%;
    cursor: default;
    padding: 10px;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.infoIcon {
    margin-top: 3px;
    color: rgb(170, 185, 209);
    cursor: pointer;
}

.infoIcon:hover {
    color: rgb(53, 100, 161);
}

.addressesPortion {
    font-size: 10px;
    color: rgb(255, 255, 255, 0.5);
}

.addressesPortionPart {
    display: flex;
    margin: 2px;
}

.addressLabel {
    cursor: default;
}

.toggleTypeContainerSmall {
    background: #252525;
    border-radius: 5px;
}

.toggleTypeContainerSmall .MuiButtonBase-root {
    padding: 3px 5px;
    text-transform: none;
}

.tranferSectionMiddle {
    margin: 0 20px;
}

.balanceLabelHolder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tooltip {
    z-index: 1;
}

.dropNumbers {
    display: flex;
}

.dropNumbersSide {
    width: 150px;
}

.dropNumbersLabel {
    justify-content: center;
}