.mainContainer {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mobileMainContainer {
  margin-left: 6px;
  height: calc(100% - 51px);
}

/* width */
.scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #212121;
  border-left: solid 1px #373737;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #424242;
  border-left: solid 1px #373737;
  border-radius: 5px;
  box-shadow: inset 3px 0px 0px 0px #212121;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #ffffff80;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-left: none;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
  box-shadow: none;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 6px;
}

.categoryTitle {
  color: #d3d2d2;
  margin: 20px;
  font-size: 30px;
  font-weight: 100;
}

.subMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
}

.bottomLoaderContainer {
  height: 70px;
  display: flex;
  justify-content: center;
}

.apLabel {
  align-self: center;
  color: #ffffff55;
  margin-top: -25px;
}

.loaderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topContainer {
  display: flex;
  flex-direction: row;
  position:absolute;
  top:60px;
  right:0px;
  bottom:0px;
  left:0px;
  overflow: hidden;
}

.pageText {
  margin-top: 5px;
  align-items: center;
  font-size: 12px;
  color: aliceblue;
}

.navigateContainer {
  display: flex;
  align-self: center;
  margin: 20px;
  width: 100px;
  justify-content: space-between;
}

.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  transform-origin: center center;
}

.arrowLeft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  transform-origin: center center;
}

