.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
}

.card-header {
    text-align: center;
    align-items: center;
    background-color: white;
}

.input {
    display: none;
}

.title {
    color: #1565c0;
    font-weight: bold;
    font-family: Montserrat;
    align-items: center;
}

.button {
    background-color: #212121;
    padding: 15px;
    border-radius: 50%;
    color: #0d47a1;
    margin: 10px;
    border: 1px solid #000000;
    transition: all ease 500ms;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff;
}

.secondary-button {
    color: gray;
    margin: 10px;
}

.typography {
    margin: 10px;
    background-color: default;
}

.url-container {
    margin: 10px;
}

.search-divider {
    width: 1px;
    height: 28px;
    margin: 4px;
}

.media {
    border-radius: 4px;
    margin: 10px;
    border: 1px solid #00000030;
}