.MuiFormLabel-root {
  color: rgb(157, 160, 170) !important;
}

.MuiOutlinedInput-root {
  color: #ffffff !important;
  background-color: #252525;
}

.MuiIconButton-root {
  color: rgb(255, 255, 255, 54%) !important;
}

.react-datepicker {
  border-radius: 0;
}

.react-datepicker__triangle { 
  display: none;
}

.react-datepicker-popper {
  z-index: 3 !important;
}

.react-datepicker__container {
  background-color: rgb(21, 21, 21) !important;
}

.react-datepicker__header {
  background-color: #252525 !important;
}

.react-datepicker__current-month {
  color: #ffffff !important;
}

.react-datepicker__day-name {
  color: #ffffff !important;
}

.react-datepicker__day {
  color: #ffffff !important;
}

.react-datepicker__day:hover {
  background-color: #e0e0e0 !important;
  color: #212121 !important;
}

.react-datepicker__month {
  background-color: #151515 !important;
}

.react-datepicker__month-container {
  background-color: #151515 !important;
}

.react-datepicker__input-container > input {
  padding: 19px 50px;
  padding-left: 150px;
  caret-color: transparent;
  width: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #252525;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
}

.hideDate .react-datepicker__input-container > input {
  color: transparent !important;
}

.publishMainContainer {
  flex: 7;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.publishNotes {
  padding-left: 50px;
  padding-top: 10px;
}

.publishInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 600px;
  padding: 50px;
  padding-top: 10px;
}

.publishButtonsContainer {
  display: flex;
  width: 270px;
  justify-content: space-between;
  margin-left: 10px;
}

.typeToggle {
  width: -webkit-fill-available;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  color: antiquewhite;
}

.notificationText {
  position: absolute;
  color: darkcyan;
  font-size: 14px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;   
  overflow: hidden; 
}

.loadingIndicator {
  margin: 5px;
  height: 20px;
  width: 20px;
}

.paymentButton {
  margin-top: 20px;
}

.toggleTypeContainer {
  margin-top: 30px;
  background: #252525;
  border-radius: 5px;
}

.imageUploadContainer {
  border: 1px solid #00000030;
  border-radius: 4px;
  background-color: #252525;
  margin-top: 15px;
  margin-bottom: 5px;
}

.switchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #00000030;
  border-radius: 4px;
  background-color: #252525;
  margin-bottom: 5px;
  margin-top: 15px;
}

.imageUploadContainer:hover {
  border: 1px solid #000000;
}

.switchContainer:hover {
  border: 1px solid #000000;
}

.sectionTitleText {
  padding: 16.5px 14px;
  padding-bottom: 6.5px;
  color: rgb(157, 160, 170);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  cursor: default;
}

.dateFieldHolder {
  display: flex;
  align-items: center;
}

.XIcon {
  padding: 5px;
  cursor: pointer;
  color: rgb(157, 160, 170);
  border-radius: 50%;
}

.XIcon:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.XIcon:active {
  color:rgb(255, 255, 255, 0.9)
}