.selectedPost {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #151515;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: opacity 0.8s ease 0s;
}

.postTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ffffff50;
}

.ownerButtons {
  display: flex;
  margin-left: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-button {
  margin-left: 10px;
}

.hide {
  opacity: 0;
}

.socialButton {
  margin-left: 40px;
  transform: scale(1.5);
  cursor: pointer;
}

.XButton {
  margin: 15px;
  margin-right: 30px;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
}

.bottomPart {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.bottomPartCenter {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  padding: 0 15px;
}

.videoSection {
  flex: 7;
  display: flex;
  align-items: flex-start;
}

.arrowPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.arrowIcon {
  font-size: 50px;
  cursor: pointer;
}

.playerPart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoSection {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

/* width */
.bottomPartCenter::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.bottomPartCenter::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.bottomPartCenter::-webkit-scrollbar-thumb {
  background: #ffffff50;
  border-radius: 3px;
  border: none;
}

.infoBox {
  display: flex;
  flex-direction: column;
}

.showFieldContainer {
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 20px;
  width: 20px;
}

.titleText {
  color: #DCDCDC !important;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 18px;
  word-wrap: break-word;
}

.infoText {
  color: #DCDCDC !important;
  font-size: 15px;
  white-space: pre-wrap;
  max-height: 650px;
  overflow-y: auto;
  word-wrap: break-word;
  margin-bottom: 30px;
  padding-bottom: 1px;
}
