.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 33);
  overflow: auto;
  height: 100%;
  width: 240px;
  border-right: 1px solid rgb(255, 255, 255, 0.1);
}

.section {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: Roboto, Noto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 24px;
  min-height: 40px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0px;
  position: relative;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: 192px;
}

.section:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.icon {
  margin-right: 24px;
}

.publishLink {
  position: fixed;
  bottom: 20px;
  color: rgb(170, 185, 209);
  cursor: pointer;
}

.publishLink:hover {
  color: rgb(53, 100, 161);
}

