.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 33, 33);
  height: 40px;
  width: calc(100% - 20px);
  border-bottom: solid 1px rgb(255, 255, 255, 0.1);
  padding: 10px;
}

.logo {
  margin-left: 73px;
  cursor: default;
}
