.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 33, 33);
  height: 40px;
  width: calc(100% - 20px);
  border-bottom: solid 1px rgb(255, 255, 255, 0.1);
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
}

.logoText {
  margin-left: 8px;
  font-weight: 550;
  font-size: 32px;
  color: lightgrey;
  transform: scaleX(0.7);
  transform-origin: 0;
  letter-spacing: -2px;
}
